@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <link href="https://unpkg.com/tailwindcss@2/dist/tailwind.min.css" rel="stylesheet">
    <link href="/css/StyleSheet.css" rel="stylesheet" type="text/css" />


    <h2 style="font-size: x-large"><b>Теоретичні відомості</b></h2>
    <br/><br/>
    <p style="font-size: large; margin-left:10%; margin-right: 10%">Класифікація фракталів</p>
    <br/>
    <p style="margin-left:10%; margin-right: 10%">Існують такі види фракталів:</p>
    <p style="margin-left:10%; margin-right: 10%">1) геометричні,</p>
    <p style="margin-left:10%; margin-right: 10%">2) алгебраїчні,</p>
    <p style="margin-left:10%; margin-right: 10%">3) стохастичні,</p>
    <p style="margin-left:10%; margin-right: 10%">4) системи ітеруючих функцій.</p>
    <br/>
    <p style="font-size: large;margin-left:10%; margin-right: 10%">Геометричні фрактали</p>
    <br/>
    <p style="margin-left:10%; margin-right: 10%">Саме з них і починалася історія фракталів. Цей тип фракталів отримують шляхом простих геометричних побудов. Зазвичай при побудові цих фракталів поступають так: береться «приманка» -аксіома - набір відрізків, на підставі яких будуватиметься фрактал. Далі до цієї «приманки» застосовують набір правил, якийперетворить її у будь-яку геометричну фігуру.</p>
    <p style="margin-left:10%; margin-right: 10%">Фрактали цього класу самі наочні. У двомірному випадку їх отримують за допомогою деякої ломаної (чи поверхні в трьохмірному випадку), яка називається генератором. За один крок алгоритму кожен із відрізків, які складають ломану, замінюється на ломану-генератор, у відповідному масштабі. У результаті безкінечного повторення цієї процедури, отримується геометричний фрактал.</p>
    <p style="margin-left:10%; margin-right: 10%">Для побудови геометричних фрактальних кривих використовуються рекурсивні алгоритми.  Рекурсія використовується при вирішенні завдань , які можуть бути розкладені на декілька підзадач. Таким чином, застосування  рекурсії доцільне при побудові фрактальних кривих, оскільки вони володіють такою властивістю як самоподібність.</p>
    <br/>
    <br/>
    <a href="/Home/Index">
        <div class=" rounded-xl py-1 " style="background-color: #EEB0CF;margin-left:30%;margin-right:30%;font-size:large; text-align: center">На головну сторінку</div>
    </a>
}
